<aside id="aside">
    <p class="title">Общежитие 4 БГУИР</p>
    <nav>
        <ul>
            <li data-state="users"><a ui-sref="users"><span>Пользователи</span></a></li>
            <li data-state="news"><a ui-sref="news"><span>Новости</span></a></li>
            <li data-state="messages"><a ui-sref="messages"><span>Сообщения ({{count}})</span></a> </li>
        </ul>
    </nav>
</aside>

<header>
    <button class="menu-trigger" ng-click="menutexp()">
        <img class="icon" ng-src="{{menu}}"/>
    </button>
    <ul class="actions">
        <li>
            <a ui-sref="profile({param: 0})">
                <!-- <svg class="icon">
                    <use xlink:href="#user"></use>
                </svg> -->
                <img class="img-wg" ng-src={{url(staffer.photoUrl)}} alt="Description" />
            </a>
        </li>
        <li class="logout">
            <a ng-click="logout()">
                <img class="icon" ng-src="{{logoutIcon}}"/>
            </a>
        </li>
    </ul>
</header>

<div class="maincontainer">
    <div class="content">
        <div class="head">
            <h1 class="page-title">Ваши сообщения</h1>
            <div class="form-group inside">
                <input type="text" style="background-color: #cccccc" style="border-color: #cccccc" name="Поиск" placeholder="Search…" ng-model="searchKeyWord" >
                <button class="button">
                    <svg class="icon">
                        <use xlink:href="#search"></use>
                    </svg>
                </button>
            </div>
        </div>
        <table class="table hover users responsive">
            <thead>
            <tr>
                <th class="senderName">
                    Имя отправителя
                </th>
                <th class="message">
                    Сообщение
                </th>
            </tr>
            </thead>
            <tbody ng-repeat="t in messages | filter: searchKeyWord">
            <tr>
                <td class="skype">
                    <span class="caption">Имя отправителя</span>
                    <a ui-sref="profile({param: t.user.id})">
                        {{t.user.firstName +" "+ t.user.lastName}}
                    </a>
                </td>
                <td class="room">
                    <span class="caption">Сообщение</span>
                    {{t.message}}
                    <button ui-sref="message({param:t.user.id})">Ответить</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="page-overlay" id="pageover" ng-click="pageexp()">
    <button class="close">
        <img class="icon" ng-src="{{close}}"/>
    </button>
</div>