<section class="login-section">
    <form class="login-form-cover" name="logform" ng-submit="submitForm(logform.$valid)">
        <div class="login-form">
            <h1>Общежитие 4 БГУИР</h1>
            <div class="form-group">
                <label for="name">Логин</label>
                <input class="validation" ng-model="name" id="name" type="text" name="login" ng-pattern=/^(?=.{8,20}$)(?![_.])(?!.*[_.]{2})[a-zA-Z0-9._]+(?<![_.])$/i autofocus required> <br>
            </div>
            <div class="form-group">
                <label for="name">Пароль</label>
                <input class="validation" ng-model="password" id="password" type="password" name="password" ng-pattern=/^(?=.{8,20}$)(?![_.])(?!.*[_.]{2})[a-zA-Z0-9._]+(?<![_.])$/i>
                <br>
                <span ng-show="connectionErr">Ошибка подключения! Попробуйте ещё раз</span>
                <span ng-show="badCredentials">Логин или пароль неверны</span>
            </div>
            <div class="form-group">
                <a ng-click="logform.$valid?submit():false" class="button">Войти</a>
            </div>
        </div>
    </form>
</section>
