<aside id="aside">
    <p class="title">Общежитие 4 БГУИР</p>
    <nav>
        <ul>
            <li data-state="Пользователи"><a ui-sref="users"><span>Пользователи</span></a></li>
            <li data-state="Новости"><a ui-sref="news"><span>Новости</span></a></li>
            <li data-state="messages"><a ui-sref="messages"><span>Сообщения ({{count}})</span></a> </li>
        </ul>
    </nav>
</aside>

<header>
    <button class="menu-trigger" ng-click="menutexp()">
        <img class="icon" ng-src="{{menu}}"/>
    </button>
    <ul class="actions">
        <li>
            <a ui-sref="profile({param: 0})">
                <!-- <svg class="icon">
                    <use xlink:href="#user"></use>
                </svg> -->
                <img class="img-wg" ng-src={{url(staffer.photoUrl)}} alt="Description" />
            </a>
        </li>
        <li class="logout" >
            <a ng-click="logout()">
                <img class="icon" ng-src="{{logoutIcon}}"/>
            </a>
        </li>
    </ul>
</header>

<div style="height: 0; width: 0; position: absolute; visibility: hidden">
</div>
<div class="maincontainer">
    <div class="content">
        <div class="head">
            <h1 class="page-title">View User</h1>
        </div>
        <div class="user-view">
            <h2 ng-show="!isAdmin()">{{profile.firstName + " " +profile.lastName}}</h2>
            <input style=" width: 10%" ng-show="isAdmin()" ng-model="profile.firstName">
            <input style="width: 10%" ng-show="isAdmin()" ng-model="profile.lastName">
            <p ng-show="!isAdmin()">{{profile.position}}</p>
            <input style="width: 10%" ng-show="isAdmin()" ng-model="profile.position">

            <div class="image" >
                <div class="picture">
                    <img ng-src="{{url(profile.photoUrl)}}" alt="Empl Photo">
                </div>
                <label ng-show="isAdmin()">Set avatar</label>
                <input ng-upload="onFileSelect($file)" type="file" accept=".jpg, .jpeg, .png" ng-show="isAdmin()">
                <label class="error" ng-show="imgfile.size>5242880" >Размер картинки должен быть не более 5 мегабайт</label>
                <div>
                    <button ng-click="saveImg()" ng-show="isAdmin()">Сменить картинку</button>
                </div>
                <button ui-sref="message({param:profile.id})">Отправить сообщение</button>
            </div>
            <div class="info">
                <div class="form-group">
                    <label>Email</label>
                    <p>
                        <a ng-show="!isAdmin()" href="mailto:{{address.eMail}}">
                            {{address.eMail}}
                        </a>
                        <input style="background: ghostwhite" ng-show="isAdmin()" ng-model="address.eMail">
                    </p>
                </div>
                <div class="form-group">
                    <label>Skype</label>
                    <p>
                        <a ng-show="!isAdmin()" href="tel:{{address.skype}}">{{address.skype}}</a>
                        <input ng-show="isAdmin()" ng-model="address.skype">
                    </p>
                </div>
                <div class="form-group">
                    <label>Телефон</label>
                    <p>
                        <a ng-show="!isAdmin()" href="tel:{{address.phone}}">{{address.phone}}</a>
                        <input ng-show="isAdmin()" ng-model="address.phone">
                    </p>
                </div>
                <div class="form-group">
                    <label>Комната</label>
                    <p ng-show="!isAdmin()">{{address.room}}</p>
                    <p>
                        <input ng-show="isAdmin()" ng-model="address.room">
                    </p>
                </div>
                <div class="form-group">
                    <label>Дата рождения</label>
                    <p ng-show="!isAdmin()" >{{birthDate | date:'y-MM-dd'}}</p>
                        <input type="text" ng-show="isAdmin()" ng-model="birthDate | date:'y-MM-dd'">

                <button ng-show="isAdmin()" ng-click="postChanges()">Сохранить</button>
            </div>
        </div>
    </div>
</div>
<div class="page-overlay">
    <button class="close">
        <svg class="icon">
            <use xlink:href="#close"></use>
        </svg>
    </button>
</div>
<div class="page-overlay">
    <button class="close">
        <svg class="icon">
            <use xlink:href="#close"></use>
        </svg>
    </button>
</div>

<div class="page-overlay" id="pageover" ng-click="pageexp()">
    <button class="close">
        <img class="icon" ng-src="{{close}}"/>
    </button>
</div>